<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container text-center">
      <h2>OAuth Authorization using Github & Google</h2>
      <p class="red green">Success</p>
    <a href="/logout">Logout</a>
    </div>
  </body>
</html>
